install
cdrom
lang es_ES.UTF-8
keyboard es
timezone Europe/Madrid --isUtc
rootpw --plaintext root01
user --name=vagrant --groups=users,wheel --password=vagrant
rootpw $1$a0LBhbRU$76.RFqZ/1.kY8UjhNYBQN. --iscrypted
reboot
text
bootloader --location=mbr --append="rhgb quiet crashkernel=auto"
zerombr
clearpart --all --initlabel
volgroup vgroot --pesize=4096 pv.0 
part pv.0 --fstype=lvmpv --ondisk=sda --size=16384
part /boot --fstype ext3 --size=1024 --asprimary --ondisk=sda
part pv.00 --size=1 --grow --asprimary --ondisk=sda
logvol  /  --vgname=vgroot  --name=lvroot --fstype=xfs --size=1024  
logvol /var --vgname=vgroot --name=lvvar --fstype=xfs --size=2048
logvol /usr --vgname=vgroot --name=lvusr --fstype=xfs --size=8192
logvol /home --vgname=vgroot --name=lvhome --fstype=xfs --size=2048
logvol /opt --vgname=vgroot --name=lvopt --fstype=xfs --size=1024
auth --passalgo=sha512 --useshadow
selinux --disabled
firewall --disabled
skipx
firstboot --disable
reboot
 
%packages --instLangs=es_ES.utf8 --nobase --ignoremissing --excludedocs

@core
openssh-clients
openssh-server
bzip2
dhclient
gcc
kernel-devel
kernel-headers
make
nfs-utils
perl
sudo
wget
yum
-fprintd-pam
-intltool
-avahi
-bluez-utils
-dogtail
-kudzu
# unnecessary firmware
-aic94xx-firmware
-atmel-firmware
-b43-openfwwf
-bfa-firmware
-ipw2100-firmware
-ipw2200-firmware
-ivtv-firmware
-iwl100-firmware
-iwl1000-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6050-firmware
-libertas-usb8388-firmware
-ql2100-firmware
-ql2200-firmware
-ql23xx-firmware
-ql2400-firmware
-ql2500-firmware
-rt61pci-firmware
-rt73usb-firmware
-xorg-x11-drv-ati-firmware
-zd1211-firmware

%end
 
%post --log=/root/ks.log

echo "vagrant ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
echo "Defaults:vagrant !requiretty" >> /etc/sudoers.d/vagrant
chmod 0440 /etc/sudoers.d/vagrant
mkdir -pm 700 /home/vagrant/.ssh
#curl -o /home/vagrant/.ssh/authorized_keys https://raw.githubusercontent.com/mitchellh/vagrant/master/keys/vagrant.pub
cat <<EOK >/home/vagrant/.ssh/authorized_keys
ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEA6NF8iallvQVp22WDkTkyrtvp9eWW6A8Y\
Vr+kz4TjGYe7gHzIw+niNltGEFHzD8+v1I2YJ6oXevct1YeS0o9HZyN1Q9qgCgzUFtdO\
KLv6IedplqoPkcmF0aYet2PkEDo3MlTBckFXPITAMzF8dJSIFo9D8HfdOV0IAdx4O7Pt\
ixWKn5y2hMNG0zQPyUecp4pzC6kivAIhyfHilFR61RGL+GPXQ2MWZWFYbAGjyiYJnAmC\
P3NOTd0jMZEnDkbUvxhMmBYSdETk1rRgm+R4LOzFUGaHqHDLKLX+FIPKcF96hrucXzcW\
yLbIbEgE98OHlnVYCzRdK8jlqm8tehUc9c9WhQ== vagrant insecure public key
EOK
chmod 0600 /home/vagrant/.ssh/authorized_keys
chown -R vagrant.vagrant /home/vagrant/.ssh
yum -y update
yum -y remove linux-firmware
%end